<div class="logo">
	<a [routerLink]="['/']">
		<img src="assets/image/logo_IPEVO.png" alt="" />
	</a>
</div>
<div class="content">
	<!-- BEGIN LOGIN FORM -->
	<form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
		<h3 class="form-title">Login to your account</h3>
		<div class="alert alert-danger display-hide">
			<button class="close" data-close="alert"></button>
			<span> Enter any username and password. </span>
		</div>
		<div class="form-group" [ngClass]="{'has-error':!loginForm.controls['account'].valid && loginForm.controls['account'].touched}">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9">Account</label>
			<div class="input-icon">
				<i class="fa fa-user"></i>
				<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Account" formControlName="account"
				/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Password</label>
			<div class="input-icon">
				<i class="fa fa-lock"></i>
				<input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" formControlName="password"
				/>
			</div>
		</div>
		<div class="form-actions">
			<label class="rememberme mt-checkbox mt-checkbox-outline">
				<input type="checkbox" name="remember" [formControl]="loginForm.controls['remember']"/> Remember me
				<span></span>
			</label>
			<button type="submit" class="btn green pull-right" [disabled]="!loginForm.valid">Login</button>
		</div>
	</form>
</div>
<div class="copyright"> 2014 &copy; Metronic - Admin Dashboard Template. </div>
