<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
	<!-- BEGIN SIDEBAR -->
	<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
	<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
	<div class="page-sidebar navbar-collapse collapse" id="sidebarDiv">
		<!-- BEGIN SIDEBAR MENU -->
		<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
		<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
		<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
		<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
		<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
		<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
		<ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-light " data-keep-expanded="false" data-auto-scroll="true"
		 data-slide-speed="200" style="padding-top: 20px">
			<!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
			<li class="sidebar-toggler-wrapper hide">
				<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
				<div class="sidebar-toggler">
					<span></span>
				</div>
				<!-- END SIDEBAR TOGGLER BUTTON -->
			</li>
			<template ngFor let-item="$implicit" [ngForOf]="funcList" let-i="index">
				<li class="nav-item" routerLinkActive="start active open">
					<a href="javascript:;" class="nav-link nav-toggle" #mainmenu id="menu{{item.name}}">
						<i class="{{item.icon_class}}"></i>
						<span class="title">{{item.name}}</span>
						<span class="" [ngClass]="{'selected':item.isOpen}"></span>
						<span class="arrow" [ngClass]="{'open':item.isOpen}"></span>
					</a>
					<ul *ngIf="item.childs.length > 0" class="sub-menu">
						<li *ngFor="let sub of item.childs" class="nav-item" routerLinkActive="start active open">
							<a [routerLink]="[sub.link]" class="nav-link" id="link{{sub.name}}" >
								<i class="{{sub.icon_class}}"></i>
								<span class="title">{{sub.name}}</span>
							</a>
						</li>
					</ul>
				</li>

			</template>
		</ul>
		<!-- END SIDEBAR MENU -->
		<!-- END SIDEBAR MENU -->
	</div>
	<!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->
